@use 'fonts';

.book-container {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-1 {
  background-image: url(/images/Book-bg-img1.png);
  background-size: cover;
}

.book-2 {
  background-image: url(/images/Book-bg-img2.png);
  background-size: cover;
}

.book-card {
  max-width: 100%;
  width: 30%;
  min-height: 80%;
  height: 375px;
  background: #232323c6;
  margin: 0 20px;
}

.mock {
  background: transparent;
}

