@import 'fonts';
@import 'header';
@import 'form-search';
@import 'nav';
@import 'section-WhyUs';
@import 'button';
@import 'section-explore';
@import 'section-book';
@import 'section-testimonial';
@import 'footer';

body {
  max-width: 100vw;
  width: 100%;
}

main {
  max-width: 100vw;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}